<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body style="background-color: #eee; padding: 2rem;">
    <table
      style="
        font-family: 'Arial', 'Helvetica', 'Verdana', sans-serif;
        width: 100%;
        max-width: 500px;
        margin: auto;
        border-collapse: collapse;
        border-radius: 0.5rem;
        background-color: #fff;
      "
    >
      <tr>
        <td style="text-align: center; color: #222;">
            <h1>{{forumTitle}}</h1>
        </td>
      </tr>
